Package: com.iosdump.freegrid
Name: FreeGrid
Version: 0.0.1
Description: 仅支持 iOS 17 桌面图标随意摆放
Architecture: iphoneos-arm64
Author: iosdump
Maintainer: iosdump
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
